/* Base Common style files. */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.font-12x {
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
}
